/*主頁面樣式*/

.main {

    min-height: 100vh;
    background-color:beige;
}

.msgbox{
    display: flex;
}

.msgbox div{
    margin-left: -1px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 10px;
    width: auto;
}

.msgbox img {
    width: 100px;
    height: 100px;
}

.box1 {
    display: flex;

}

.box2 {

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    width: 100%;
}