/*主頁面樣式*/

.main {
    position: relative;
    top: 120px;
    background-color: beige;
    height: 1200px;
    width: 100%;
}

.msgbox {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

.msgbox img {
    width: 100px;
    height: 100px;
}

.box {
    margin-left: -1px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100vw;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
}

.title img {
    width: 100%;
}

.font {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.font a {
    font-size: 35px;
}

.sf a {
    font-size: 25px;
}