/*初始化*/
* {
    padding: 0px;
    margin: 0px;
}

/*頁頭欄位樣式*/
.header {
    position: fixed;
    height: 120px;
    width: 100%;
    background-color: black;
}

.header h1 {
    color: white;
    position: absolute;
    left: 75px;
    top:0;
    line-height: 120px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 219px;
    width: 210px;
    text-indent: -9999px;
}

.header ul {
    position: absolute;
    right: 20px;
    top:0;
    line-height: 120px;
}

.menu button{
    width: 120px;
    height: 50px;
    color: white;
    border: 1px solid;
    border-radius: 6px;
    font-size: 25px;
    background-color: transparent;
}

.menu li{
    display: inline;
    margin-right: 20px;
}

.menu a {
    color:white;
    text-decoration: none;
    font-size: 25px;
}

/*頁中欄位樣式*/

.main {
    position: absolute;
    background-color: aqua;
    width: 100%;
    height: 100%;
    z-index: -1;
}
