/*初始化*/
* {
    padding: 0px;
    margin: 0px;
}

/*頁頭欄位樣式*/
.header {
    position: fixed;
    height: 120px;
    width: 100%;
    background-color: black;
}

.header h1 {
    color: white;
    position: absolute;
    left: 120px;
    top:0;
    line-height: 120px;
}

.header ul {
    position: absolute;
    right: 10px;
    top:0;
    line-height: 120px;
}

.menu li{
    display: inline;
    margin-right: 10px;
}

.menu a {
    color:white;
    text-decoration: none;
    font-size: 25px;
}